@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable !important;
}

body {
}

.container {
  padding-left: calc(100vw - 100%) !important;
  width: 100vw;
  /* elements inside won't be affected by scrollbars */
  display: flex;
  align-items: center;
  justify-content: center;
}
